
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New List</title>
</head>
<body>
    <h1>Create a New List</h1>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
{% else %}
    <p>You need to <a href="{% url 'login' %}">login</a> to create a new list.</p>
{% endif %}

</body>
</html>
